h2 {
	margin: 0px;
	padding: 20px 10px 0 25px;
	float: left;
}

body {
  padding: 0px;
  margin: 0px;
}

/* nav */
nav {
	background-color: #662D91;
	height: 66px;
	width: 100%;
	// position: fixed;
	z-index: 1;
	color: white;
}

nav #logo { 
	top: 10px;
	left: 10px;
	position: relative;
	float: left;
	height: 46px;
	-webkit-transform: scaleX(-1);
	transform: scaleX(-1);
}
/* nav */

/* main */
main {
	min-height: 122px;
}

main #sidebar { 
	color: white;
	float: left;
	width: calc(20% - 40px);
	padding: 20px;
	background-color: #4CAF50;
	height: 1350px;
}

main #content { 
	color: red;
	float: right;
	width: 80%;
}   

/* main */

.container {
	// width: 900px;
	// background-color: bisque;
	margin: 0px auto;
}

.shadow {
	-webkit-box-shadow: 0 3px 5px rgba(57, 63, 72, 0.3);
	-moz-box-shadow: 0 3px 5px rgba(57, 63, 72, 0.3);
	box-shadow: 0 3px 5px rgba(57, 63, 72, 0.3);
}

nav ul {
	list-style-type: none;
	display: inline-flex;
	font-size: 1.2em;
}

nav ul li a {
  color: #febc56;
  margin-right: 30px;
	padding: 10px;
	text-decoration: none;
}

.selected{
  background-color: #0071bc;
}