
nav h2 {
	margin: 0px;
	padding: 20px 10px 0 25px;
	float: left;
	color: #fff;
}

small {
	font-size: small;
}

body {
  padding: 0px;
  margin: 0px;
	max-width: none;
}

/* nav */
nav {
	background-color: #662D91;
	height: 66px;
	width: 100%;
	// position: fixed;
	z-index: 1;
	color: white;
	margin-bottom: 10px;
}

nav #logo { 
	top: 10px;
	left: 10px;
	position: relative;
	float: left;
	height: 46px;
	-webkit-transform: scaleX(-1);
	transform: scaleX(-1);
}
/* nav */

/* main */
main {
	min-height: 122px;
}

main #sidebar { 
	float: left;
	width: 360px;
	margin: 20px;
	background-color: #4CAF50;
	height: 750px;
}

main #content { 
	float: right;
	width: 760px;
	margin: 20px;
}   

/* main */

.container {
	width: 1200px;
	/* min-width: 1200px;*/
	margin: 0px auto;
}

.shadow {
	-webkit-box-shadow: 0 3px 5px rgba(57, 63, 72, 0.3);
	-moz-box-shadow: 0 3px 5px rgba(57, 63, 72, 0.3);
	box-shadow: 0 3px 5px rgba(57, 63, 72, 0.3);
}

nav ul {
	list-style-type: none;
	display: inline-flex;
	font-size: 1.2em;
}

nav ul li a {
  color: #febc56;
  margin-right: 30px;
	padding: 10px;
	text-decoration: none;
}

.selected{
  background-color: #0071bc;
}

#event {
	padding: 10px 20px 20px 20px;
	margin: 20px;
}

#event h3 {
	color: #fff;
}

#event.success {
	background-color: #9abf51;
}

#event.error {
	background-color: #ff5670;
}

#event.warning {
	background-color: #ff5670;
}