td,th {
	padding: 20px !important;
	font-size: 1.3em;
}

main #sidebar {
	float: right !important;
	width: 320px !important;
	padding: 20px !important;
}

main #content {
	float: left !important;;
	width: 720px !important;
	padding: 20px !important;
}